<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.generator.dao.ScoreMapper">
  <resultMap id="BaseResultMap" type="com.example.generator.model.Score">
    <result column="SNO" jdbcType="VARCHAR" property="sno" />
    <result column="CNO" jdbcType="VARCHAR" property="cno" />
    <result column="DEGREE" jdbcType="DECIMAL" property="degree" />
  </resultMap>
  <insert id="insert" parameterType="com.example.generator.model.Score">
    insert into score (SNO, CNO, DEGREE
      )
    values (#{sno,jdbcType=VARCHAR}, #{cno,jdbcType=VARCHAR}, #{degree,jdbcType=DECIMAL}
      )
  </insert>
  <select id="selectAll" resultMap="BaseResultMap">
    select SNO, CNO, DEGREE
    from score
  </select>
</mapper>